body,html {
    padding: 50px;
    margin: 50px;
  }
  
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: black;
    min-width:550px;
    min-height:550px;
  }
  
.letter {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 70px;
    color: orange;
    line-height: 1;
    font-family: 'hobeaux-rococeaux-background', Helvetica;
    font-weight: 200;
    cursor: pointer;
    transition: all .3s ease;
  }

.wrapper-words {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color:grey;
}

.word {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    color:orange;
    line-height:1;
    font-family: 'hobeaux-rococeaux-background', Helvetica;
    font-weight: 200;
    cursor: pointer;
    transition: all .3s ease;
    padding-top:50px;
    padding-bottom:50px;
}