body {
  background: #373737;
}

p {
  color: #cacaca;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 20px;
}
.grid-item {
  background-color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.litup {
  background-color: #ffb3b3;
  color: black;
}

.text-insert {
  display: grid;
  justify-content: center;
  background: grey;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
  min-width:350px
}